<h1>Cocktails</h1>

<%= link_to 'Add a cocktail', new_cocktail_path %>

<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <div class="card" style="width: 18rem;">
      <%= image_tag cocktail.image_url, alt: cocktail.name, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
      </div>
    </div>
  <% end %>
<% end %>

